button()
    display inline-block
    padding: 1rem 1.5rem
    width max-content
    height max-content
    font-size 16px
    font-weight bold
    text-decoration none
    border-radius 30px
    cursor pointer
    vertical-align bottom

button-primary()
    color color-primary-cta-text
    background-color color-neutral-text
    border 1px solid color-neutral-text

button-secondary()
    color color-neutral-text
    background-color transparent
    border 1px solid color-neutral-text