color-primary-cta-text = hsl(356, 100%, 66%)
color-primary-cta-hover-background = hsl(355, 100%, 74%)
color-primary-headings = hsl(208, 49%, 24%)
color-neutral-text = hsl(0, 0%, 100%)
color-neutral-footer-text = hsl(240, 2%, 79%)
color-neutral-body-copy = hsl(207, 13%, 34%)
color-neutral-footer-background = hsl(240, 10%, 16%)

color-gradient-nav = hsl(353, 100%, 62%)
color-gradient-nav-light = hsl(13, 100%, 72%)
color-gradient-body = hsl(237, 17%, 21%)
color-gradient-body-desaturated = hsl(237, 23%, 32%)

font-primary = 'Overpass', sans-serif
font-secondary = 'Ubuntu', sans-serif