.header
    position absolute
    width 100%
    height auto
    &__logo
        margin 5rem 0 0 0
        height max-content
    &__menu-icon
        float right
        margin 6.5rem 0 0 0
        height 2rem
        cursor pointer

@media screen and (min-width: 52.125rem)
    .header
        &__menu-icon
            display none