.button
    button()

.button-primary
    button-primary()

.button-secondary
    button-secondary()

.button-signup
    button()
    background linear-gradient(to right, color-gradient-nav-light, color-gradient-nav)

@media screen and (min-width: 52.125rem)
    .button-signup
        color color-gradient-nav
        background white